@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";


@plugin "daisyui";


.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  .carousel-item-padding-40-px {
    padding: 10px;
  }
  .custom-dot-list-style {
    position: absolute;
    bottom: -20px;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
    transition: transform 0.5s ease-in-out;
  }
  